<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Spring WebFulRestFul</title>
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container-fluid">


		<div class="sidenav">
			<div class="sidelinks sidedwn">
				<a href="https://github.com/ajkr195/SpringBootRocksWebRestFul"
					target="_blank">
					<p class="hidden">Download</p> <span> <i
						class="fa fa-download"></i></span>
				</a>
			</div>
			<div class="sidegit sidelinks">
				<a href="https://github.com/ajkr195/SpringBootRocksWebRestFul"
					target="_blank">
					<p class="hidden">Github</p> <span> <i class="fab fa-github"></i></span>
				</a>
			</div>
			<div class="sidelinks sidetele">
				<a href="https://github.com/ajkr195/SpringBootRocksWebRestFul"
					target="_blank">
					<p class="hidden">Telegram</p> <span> <i
						class="fab fa-telegram-plane"></i></span>
				</a>
			</div>
			<div class="sidelinks sidetwit">
				<a href="https://github.com/ajkr195/SpringBootRocksWebRestFul"
					target="_blank">
					<p class="hidden">Twitter</p> <span> <i
						class="fab fa-twitter"></i></span>
				</a>
			</div>
			<div class="sidelinks sidefb">
				<a href="https://github.com/ajkr195/SpringBootRocksWebRestFul"
					target="_blank">
					<p class="hidden">Facebook</p> <span> <i
						class="fab fa-facebook-f"></i></span>
				</a>
			</div>
		</div>



		<div class="row">
			<div class="card">

				<div class="card-header text-center text-success">
					<div class="attention-text">
						<h4>Add/Edit User Form</h4>
					</div>
					<div id="error" class="error"></div>
				</div>

				<div class="card-body">
					<form onsubmit="event.preventDefault();onFormSubmit();"
						autocomplete="off" class="needs-validation mt-4" novalidate>

						<input type="hidden" class="form-control" name="userid"
							id="userid" />

						<div class="row mb-3">
							<div class="col">
								<input type="text" class="form-control" placeholder="Id"
									aria-label="username" name="userid" id="userid" readonly />
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Username"
									name="username" id="username" />
							</div>
						</div>
						<div class="row mb-3">
							<div class="col">
								<input type="text" class="form-control" placeholder="Email"
									aria-label="useremail" name="useremail" id="useremail">
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="First Name"
									aria-label="userfirstname" name="userfirstname"
									id="userfirstname" />
							</div>
						</div>
						<div class="row mb-3">
							<div class="col">
								<input type="text" class="form-control" placeholder="Last Name"
									aria-label="userlastname" name="userlastname" id="userlastname" />
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="Address"
									aria-label="useraddress" name="useraddress" id="useraddress" />
							</div>
						</div>
						<div class="row mb-3">
							<div class="col">
								<select class="form-select" name="userenabled" id="userenabled">
									<option value="true">True</option>
									<option selected value="false">False</option>
								</select>
							</div>
							<div class="col">
								<input type="text" class="form-control"
									placeholder="Confirmation Token"
									aria-label="userconfirmationtoken" name="userconfirmationtoken"
									id="userconfirmationtoken">
							</div>
						</div>
						<div class="row mt-4 mb-3">
							<button class="btn btn-success fw-bold" id="formsubmitbutton"
								type="button" onclick="doAjaxPost()">
								<i class="fas fa-check-double fa-2x"></i> Submit
							</button>
						</div>
					</form>
					<div id="info" class="success"></div>
				</div>
			</div>
		</div>


		<div class="row mt-4">
			<div class="card">
				<div class="card-header text-center text-success">
					<div
						class="d-flex align-items-center justify-content-between attention-text">
						<h4 class="float-start">AppUsers</h4>


						<h4>
							<a class="text-center text-success" href="/swagger-ui/"
								th:href="@{/swagger-ui/}" target="_blank"> SwaggerUI</a>
						</h4>


						<a class="btn btn-success float-end" href="/index4" th:href="@{/index4}">
							Option4</a>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-sm" id="dataTable">
							<thead class="success">
								<tr>
									<th>UserID</th>
									<th>Username</th>
									<th>Email</th>
									<th>Firstname</th>
									<th>Lastname</th>
									<th>Address</th>
									<th>Active</th>
									<th>Token</th>
<!-- 									<th>DateCreated</th> -->
<!-- 									<th>CreatedBy</th> -->
<!-- 									<th>LastModified</th> -->
<!-- 									<th>ModifiedBy</th> -->

								</tr>
							</thead>
							<tbody class="tbody">

								<tr th:each="user, userStat : ${users}">
									<td th:text="${user.id}"></td>
									<td th:text="${user.username}"></td>
									<td th:text="${user.useremail}"></td>
									<td th:text="${user.userfirstname}"></td>
									<td th:text="${user.userlastname}"></td>
									<td th:text="${user.useraddress}"></td>
									<td th:text="${user.userenabled}"></td>
									<td th:text="${user.userconfirmationtoken}"></td>
<!-- 									<td th:text="${user.createdDate}"></td> -->
<!-- 									<td th:text="${user.createdBy}"></td> -->
<!-- 									<td th:text="${user.lastModifiedDate}"></td> -->
<!-- 									<td th:text="${user.lastModifiedBy}"></td> -->

								</tr>

							</tbody>

						</table>
					</div>
				</div>


			</div>
		</div>

	</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index3.js}"></script>
</html>
